.nav .item{
    height: 32px;
    line-height: 32px;
    color: #fff;
    position: relative;
    left: 1px;
    padding: 0 10px;
    z-index: 10;
}
.nav .item:hover{
    background: #f7f7f7;
    color: #B61D1D;
}
.nav .hover i {
    color:#f7f7f7;
}
.nav .item i{
    font-style: normal;
    float: right;
    font-size: 0.5em;
}
.nav .second{
    z-index: 2;
    display: none;
    position: absolute;
    left: 209px;
    top: 45px;
    width: 779px;
    min-height: 400px;
    padding: 20px;
    background: #f7f7f7;
    border: 1px solid #b61d1d;
    overflow: hidden;
}
.nav .secondItem i{
    font-style: normal;
    font-size: 0.5em;
}
.nav .secondItem .secondItemName{
    margin: 4px 0;
    width: 80px;
    text-align: right;
}
.nav .secondItem .secondItemName span{
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.nav .secondItem li{
    display: inline-block;
    padding: 0 8px;
    margin: 4px 0;
    border-left: 1px solid #e0e0e0;
}
.nav .secondItem .secondItemList{
    margin: 6px 0 6px 90px;
    cursor: pointer;
}
.nav .secondItem li:hover,.nav .secondItem .secondItemName span:hover{
    color:#C81623;
}