.notice{
    font-size: 12px;
    color: #666;
}
.notice a{
    color: #666;
}
.notice .title{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #e4e4e4;
    padding: 0 15px;
}
.notice .title .titleName{
    float: left;
    font-size: 16px;
}
.notice .title .titleMore{
    float: right;
}
.notice .content{
    padding: 0 15px;
}
.notice .content li{
    width: 200px;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
}
.notice .content .contentType{
    font-weight: bold;
}
.notice .content a:hover, .notice .titleMore:hover {
    color: #C81623;
}
