.header{
    height: 140px;
}
.nav{
    background: #c81623;
    width: 230px;
    border-bottom: 1px solid #c81623;
    border-top: 1px solid #c81623;
}
.carousel{
    position: relative;
    width: 720px;
    margin: 0 10px;
}
.right{
    width: 228px;
}
.notice{
    border: 1px solid #e4e4e4;
    margin-bottom: 12px;
}
.line{
    border-bottom: 2px solid #B1191A;
    margin-bottom: 15px;
}
.disclaimer{
    background: #efeff0;
    text-align: center;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}